.tooltip {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
  }
  
  .legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .legend-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .legend-label {
    font-size: 12px;
    text-anchor: start;
  }
  
  .legend .legend-label {
    font-size: 12px;
    text-anchor: start;
    fill: black;
    margin-top: 10px; /* Add margin-top */
  }
  
  .legend-container svg {
    margin-top: 10px; /* Add margin-top */
  }
  
  .popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
  }
  
  .popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .popup-content {
    padding: 10px;
  }
  
  /* Style the category picker */
  #category-picker {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  #category-picker:hover {
    background-color: #e0e0e0;
  }
  
  #category-picker:focus {
    background-color: #d5d5d5;
  }
  